body {
    background-color: white;
}

.main-header-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 35px 0;
    width: 100%;
    font-size: 40px;
    flex-wrap: nowrap;
}

.main-header-div img {
    max-width: 250px;
    width: 50%;
    height: 50%;
}

.main-header-div h1 {
    font-size: 40px;
    margin: 0 0;
}


.deck-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.control-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.control-area button {
    width: 316px;
    height: 106px;
    font-size: 50px;
}

.guess-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.guess {
    font-size: 50px;
    padding: 10px 30px;
    margin-top: 20px;
}

.deck-area img {
    padding: 3%;
    max-width: 300px; 
}

.guess-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}